{# src/OC/PlatformBundle/Resources/views/Monitoring/graphPerformance.html.twig #}

{% extends "CRMToolsBundle::layout.html.twig" %}

{% block title %}
     Graph performance - {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container containerHomePage">

        <!-- Begin of menu nav div -->
        <div class="container containerMenuNav">
            <nav class="navbar navbar-default menuNavBar">
                <div class="container-fluid">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav firsTitleMenu">
                            {#<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>#}
                            <li class="colorHomeIcon"><a href="{{ path('crm_tools_homepage') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                            <li class="dropdown secondTitleMenu">
                                {#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Monitoring <span class="caret"></span></a>#}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">MONITORING<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Graphs Perfomance</a></li>
                                    <li><a href="#">Log Error</a></li>
                                    <li><a href="#">CRM Weather</a></li>
                                    {#<li role="separator" class="divider"></li>#}
                                </ul>
                            </li>
                            <li class="dropdown secondTitleMenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">UCR SEARCH ENGINE<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Equipe RC Contact et booking</a></li>
                                </ul>
                            </li>
                            <li class="dropdown secondTitleMenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">DATA QUALITY<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Data quality</a></li>
                                    <li><a href="#">Data quality Bis</a></li>
                                    <li><a href="#">Métriques</a></li>
                                </ul>
                            </li>
                            <li class="dropdown secondTitleMenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">TOOL BOX<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Qualité UCR</a></li>
                                    <li><a href="#">Qualité Propriétaire</a></li>
                                    <li><a href="#">Qualité Anonymisation</a></li>
                                    <li><a href="#">Qualité PV</a></li>
                                    <li><a href="#">Qualité Référence</a></li>
                                    <li><a href="#">Qualité Midas</a></li>
                                </ul>
                            </li>
                            <li class="dropdown secondTitleMenu ">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">INTEGRATION FICHIERS<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">File Upload</a></li>
                                    <li><a href="#">Business View</a></li>
                                </ul>
                            </li>
                        </ul>

                        {#<ul class="nav navbar-nav navbar-right">#}
                            {#<li class="dropdown titleMenuNav ">#}
                                {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">Intégration Fichiers<span class="caret"></span></a>#}
                                {#<ul class="dropdown-menu">#}
                                    {#<li><a href="#">File Upload</a></li>#}
                                    {#<li><a href="#">Business View</a></li>#}
                                {#</ul>#}
                            {#</li>#}
                        {#</ul>#}


                    </div>
                </div>
            </nav>
        </div><!-- end of menu nav -->


        <!-- Begin of datepicker form -->
        <div class="bootstrap-iso">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">


                        <!-- Form code begins -->
                        <form action="{{path("crm_tools_graph")}}" method="GET">
                            <div class="form-group col-md-2"> <!-- Date input -->
                                <label class="control-label" for="date">Date debut</label>
                                <input class="form-control" id="date" name="date" placeholder="{{ startDate|date("d/m/Y") }}" type="text"/>
                            </div>
                            <div class="form-group col-md-2"> <!-- Date input -->
                                <label class="control-label" for="date">Date fin</label>
                                <input class="form-control" id="date" name="date" placeholder="{{ endDate|date("d/m/Y") }}" type="text"/>
                            </div>
                            <div class="form-group"> <!-- Submit button -->
                                <button class="btn btn-primary buttonDatePicker" name="submit" type="submit">Afficher</button>
                            </div>
                        </form>
                        <!-- Form code ends -->

                    </div>
                </div>
            </div>
        </div><!-- end of datepicker form -->

        <div class="graphPage">
            <div class="bs-example col-md-12" data-example-id="simple-responsive-table" >
                <div class="table-responsive">
                    <table class=" table table-bordered">
                        <thead >
                            <tr >
                                <th class="row">Nom du fichier</th>
                                {% for date in date_array %}
                                    <th>{{ date | date("d-m-Y") }}</th>
                                {% endfor %}
                                <th class="middleText">Moyenne Semaine </br> Du '{{ startDate | date("m-d-Y") }}'</br> Au '{{ endDate | date("m-d-Y") }}'</th>

                                {% for key,dates in week_array %}
                                    {#{{ dump(key) }}#}
                                    {% if key == 0 %}
                                        <th class="middleText">Moyenne Semaine -1 </br> '{{ dates['0'] | date("d-m-Y") }}' </br> Au '{{ dates['1'] | date("d-m-Y") }}'</th>
                                    {% elseif key == 1 %}
                                        <th class="middleText">Moyenne mois </br> '{{ dates['0'] | date("d-m-Y") }}' </br> Au '{{ dates['1'] | date("d-m-Y") }}'</th>
                                    {% elseif key == 2 %}
                                        <th class="middleText">Moyenne mois -1</br> '{{ dates['0'] | date("d-m-Y") }}' </br> Au '{{ dates['1'] | date("d-m-Y") }}'</th>
                                    {% endif %}
                                {% endfor %}

                            </tr>
                        </thead>

                        {% for graph in result_graph_avg %}
                        {#{{ dump(graph) }}#}
                            <tbody>
                            <tr>
                                <th >{{ graph['graph_name'] }}</th>

                            {% for current_date in date_array %}
                                {#{{ dump(graph[current_date]) }}#}
                                {% if graph[current_date] / graph['average_duration_job'] < 1.5 %}

                                    <td class="greenCase">{{ graph[current_date] }}</td>

                                {% elseif graph[current_date] / graph['average_duration_job'] < 5 %}
                                    <td class="orangeCase">{{ graph[current_date] }}</td>

                                {% else %}
                                    <td class="orangeCase">{{ graph[current_date] }}</td>
                                {% endif %}
                            {% endfor %}
                            <td> {{ graph["AVG_duration_week"] }} </td>
                            <td> {{ graph["AVG_duration_week_1"] }} </td>
                            <td> {{ graph["AVG_duration_month"] }} </td>
                            <td> {{ graph["AVG_duration_month_1"] }} </td>
                            </tr>
                        {% endfor %}
                    </table>
























                        {#<tbody >#}
                        {#<tr>#}
                            {#<th scope="row">UCR_BOOKING_CP</th>#}
                            {#<td class="greenCase">01:21:22</td>#}
                            {#<td class="orangeCase">01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<th scope="row">UCR_CALCUL_AGREGATS</th>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<th scope="row">UCR_CIP_DATA</th>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                            {#<td>01:21:22</td>#}
                        {#</tr>#}
                        {#</tbody>#}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}