{# src/OC/PlatformBundle/Resources/views/Monitoring/graphPerformance.html.twig #}

{% extends "CRMToolsBundle::layout.html.twig" %}

{% block title %}
     Page d'accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <div class=" container containerHomePage">
        {#<div class="col-md-12 menuHomePage">#}
                {#<div class="col-md-2 colonneMenu">#}
                {#<div class="headMenu">#}
                    {#<p class="">MONITORING</p>#}
                {#</div>#}
                {#<div class="bodyMenu">#}
                    {#<ul>#}
                        {#<li><a href="{{ path('crm_tools_graph') }}">Graphs Perfomance</a></li>#}
                        {#<li><a href="{{path('crm_logs_view')}}">Log Error</a></li>#}
                        {#<li><a href="{{'#'}}">CRM Weather</a></li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}

            {#<div class="col-md-2 colonneMenu">#}
                {#<div class="headMenu">#}
                    {#<p class="">UCR SEARCH ENGINE</p>#}
                {#</div>#}
                {#<div class="bodyMenu">#}
                    {#<ul>#}
                        {#<li><a href="{{'#'}}">Contact and Booking forms</a></li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}

            {#<div class="col-md-2 colonneMenu">#}
                {#<div class="headMenu">#}
                    {#<p class="">DATA QUALITY</p>#}
                {#</div>#}
                {#<div class="bodyMenu">#}
                    {#<ul>#}
                        {#<li><a href="{{ path('crm_errors_analysis') }}">Error's analysis</a></li>#}
                        {#<li><a href="{{'#'}}">Customer consent by brand</a></li>#}
                        {#<li><a href="{{'#'}}">Daily number of optin at null</a></li>#}
                        {#<li><a href="{{'#'}}">Metrics</a></li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}

            {#<div class="col-md-2 colonneMenu">#}
                {#<div class="headMenu">#}
                    {#<p class="">TOOL BOX</p>#}
                {#</div>#}
                {#<div class="bodyMenu">#}
                    {#<ul>#}
                        {#<li><a href="{{'#'}}">Qualité UCR</a></li>#}
                        {#<li><a href="{{'#'}}">Qualité Propriétaire</a></li>#}
                        {#<li><a href="{{'#'}}">Qualité Anonymisation</a></li>#}
                        {#<li><a href="{{'#'}}">Qualité PV</a></li>#}
                        {#<li><a href="{{'#'}}">Qualité Référence</a></li>#}
                        {#<li><a href="{{'#'}}">Qualité Midas</a></li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}

            {#<div class="col-md-2 colonneMenu">#}
                {#<div class="headMenu">#}
                    {#<p class="">INTEGRATION FICHIERS</p>#}
                {#</div>#}
                {#<div class="bodyMenu">#}
                    {#<ul>#}
                        {#<li><a href="{{'#'}}">File Upload</a></li>#}
                        {#<li><a href="{{'#'}}">Business View</a></li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        <div class="col-md-12">
            <div class="col-md-2 sidebar-offcanvas colonneTheme" id="sidebar">
                <div class="list-group linkColonne">
                    <a href="#" class="list-group-item active linkLine">MONITORING</a>
                    <a href="{{ path('crm_tools_graph') }}" class="list-group-item">Graphs Perfomance</a>
                    <a href="{{path('crm_logs_view')}}" class="list-group-item">Log Error</a>
                    <a href="{{'#'}}" class="list-group-item">CRM Weather</a>

                </div>
            </div>
            <div class="col-md-2 sidebar-offcanvas colonneTheme" id="sidebar">
                <div class="list-group linkColonne">
                    <a href="#" class="list-group-item linkLine bkColorBlue">UCR SEARCH ENGINE</a>
                    <a href="{{'#'}}" class="list-group-item">Contact and Booking forms</a>
                </div>
            </div>
            <div class="col-md-2 sidebar-offcanvas colonneTheme" id="sidebar">
                <div class="list-group linkColonne">
                    <a href="#" class="list-group-item active linkLine">DATA QUALITY</a>
                    <a href="{{ path('crm_errors_analysis') }}" class="list-group-item">Error's analysis</a>
                    <a href="{{'#'}}" class="list-group-item">Customer consent by brand</a>
                    <a href="{{'#'}}" class="list-group-item">Daily number of optin at null</a>
                    <a href="{{'#'}}"  class="list-group-item">Metrics</a>
                </div>
            </div>
            <div class="col-md-2 sidebar-offcanvas colonneTheme" id="sidebar">
                <div class="list-group linkColonne">
                    <a href="#" class="list-group-item linkLine bkColorBlue">TOOL BOX</a>
                    {#<a href="{{'#'}}" class="list-group-item">Qualité UCR</a>#}
                    {#<a href="{{'#'}}" class="list-group-item">Qualité Propriétaire</a>#}
                    {#<a href="{{'#'}}" class="list-group-item">Qualité Anonymisation</a>#}
                    {#<a href="{{'#'}}" class="list-group-item">Qualité PV</a>#}
                    {#<a href="{{'#'}}" class="list-group-item">Qualité Référence</a>#}
                    {#<a href="{{'#'}}" class="list-group-item">Qualité Midas</a>#}
                </div>
            </div>
            <div class="col-md-2 sidebar-offcanvas colonneTheme" id="sidebar">
                <div class="list-group linkColonne">
                    <a href="#" class="list-group-item active linkLine">FILE INTEGRATION</a>
                    <a href="{{'#'}}" class="list-group-item">File Upload</a>
                    <a href="{{'#'}}" class="list-group-item">Business View</a>
                </div>
            </div>
            <div class="col-md-2 sidebar-offcanvas colonneTheme" id="sidebar">
                <div class="list-group linkColonne">
                    <a href="#" class="list-group-item linkLine bkColorBlue">CRM WEATHER</a>
                    <a href="{{'#'}}" class="list-group-item">Campaigns total</a>
                    <a href="{{'#'}}" class="list-group-item">Contact creation follow-up</a>
                    <a href="{{'#'}}" class="list-group-item">Retargeting Monitoring</a>
                    <a href="{{'#'}}" class="list-group-item">Game integration</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}