{# src/OC/PlatformBundle/Resources/views/Monitoring/graphPerformance.html.twig #}

{% extends "CRMToolsBundle::layout.html.twig" %}

{% block title %}
     Page d'accueil - {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="homePage">

        <div class="col-md-12 menuHomePage">
            <div class="col-md-2 col-md-offset-1 colonneMenu">
                <div class="headMenu">
                    <p class="">Monitoring</p>
                </div>
                <div class="bodyMenu">
                    <ul>
                        <li><a href="{{ path('crm_tools_graph') }}">Graphs Perfomance</a></li>
                        <li><a href="{{'#'}}">Log Error</a></li>
                        <li><a href="{{'#'}}">CRM Weather</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 colonneMenu">
                <div class="headMenu">
                    <p class="">UCR Search Engine</p>
                </div>
                <div class="bodyMenu">
                    <ul>
                        <li><a href="{{'#'}}">Equipe RC Contact et booking</a></li>
                    </ul>
                </div>

            </div>

            <div class="col-md-2 colonneMenu">
                <div class="headMenu">
                    <p class="">Dataquality</p>
                </div>
                <div class="bodyMenu">
                    <ul>
                        <li><a href="{{'#'}}">Dataquality</a></li>
                        <li><a href="{{'#'}}">Dataquality Bis</a></li>
                        <li><a href="{{'#'}}">Métriques</a></li>
                    </ul>
                </div>

            </div>

            <div class="col-md-2 colonneMenu">
                <div class="headMenu">
                    <p class="">Tool Box</p>
                </div>
                <div class="bodyMenu">
                    <ul>
                        <li><a href="{{'#'}}">Qualité UCR</a></li>
                        <li><a href="{{'#'}}">Qualité Propriétaire</a></li>
                        <li><a href="{{'#'}}">Qualité Anonymisation</a></li>
                        <li><a href="{{'#'}}">Qualité PV</a></li>
                        <li><a href="{{'#'}}">Qualité Référence</a></li>
                        <li><a href="{{'#'}}">Qualité Midas</a></li>
                    </ul>
                </div>

            </div>

            <div class="col-md-2 colonneMenu">
                <div class="headMenu">
                    <p class="">Intégration Fichiers</p>
                </div>
                <div class="bodyMenu">
                    <ul>
                        <li><a href="{{'#'}}">File Upload</a></li>
                        <li><a href="{{'#'}}">Business View</a></li>
                    </ul>
                </div>

            </div>

        </div>











    </div>


{% endblock %}