{# src/OC/PlatformBundle/Resources/views/Monitoring/graphPerformance.html.twig #}

{% extends "CRMToolsBundle::layout.html.twig" %}

{% block title %}
     Page d'accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="homePage">
        <div class="col-md-12 menuHomePage">
            <div class="col-md-2 col-md-offset-1 colonneMenu">
                <div class="headMenu">
                    <p class="">MONITORING</p>
                </div>
                <div class="bodyMenu">
                    <ul>
                        <li><a href="{{ path('crm_tools_graph') }}">Graphs Perfomance</a></li>
                        <li><a href="{{path('crm_logs_view')}}">Log Error</a></li>
                        <li><a href="{{'#'}}">CRM Weather</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 colonneMenu">
                <div class="headMenu">
                    <p class="">UCR SEARCH ENGINE</p>
                </div>
                <div class="bodyMenu">
                    <ul>
                        <li><a href="{{'#'}}">Equipe RC Contact et booking</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 colonneMenu">
                <div class="headMenu">
                    <p class="">DATA QUALITY</p>
                </div>
                <div class="bodyMenu">
                    <ul>
                        <li><a href="{{'#'}}">Data quality</a></li>
                        <li><a href="{{'#'}}">Data quality Bis</a></li>
                        <li><a href="{{'#'}}">Métriques</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 colonneMenu">
                <div class="headMenu">
                    <p class="">TOOL BOX</p>
                </div>
                <div class="bodyMenu">
                    <ul>
                        <li><a href="{{'#'}}">Qualité UCR</a></li>
                        <li><a href="{{'#'}}">Qualité Propriétaire</a></li>
                        <li><a href="{{'#'}}">Qualité Anonymisation</a></li>
                        <li><a href="{{'#'}}">Qualité PV</a></li>
                        <li><a href="{{'#'}}">Qualité Référence</a></li>
                        <li><a href="{{'#'}}">Qualité Midas</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 colonneMenu">
                <div class="headMenu">
                    <p class="">INTEGRATION FICHIERS</p>
                </div>
                <div class="bodyMenu">
                    <ul>
                        <li><a href="{{'#'}}">File Upload</a></li>
                        <li><a href="{{'#'}}">Business View</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}