{# src/OC/PlatformBundle/Resources/views/Monitoring/graphPerformance.html.twig #}

{% extends "CRMToolsBundle::layout.html.twig" %}

{% block title %}
    Errors' analysis - {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container containerPage">
        <h1 class="titleGraph">Errors' analysis</h1>
            <div class="table-responsive">
                <table class="container table table-bordered">
                    <tbody class="DatatableCss">
                        {% for key, dataQuality in dataQualities %}
                                <tr class="greenBackgroundTh">
                                    <th>{{ key }}</th>
                                </tr>

                            <tr class="blueBackgroundTh blueHover">
                                <th class="row">QUERY  NAME</th>
                                {% for current_date in date_array %}
                                    <th>{{ current_date }} </th>
                                {% endfor %}
                            </tr>
                            {% for data in dataQuality %}
                                {#{{ dump(data['id']) }}#}
                                <tr class="blueHover">
                                    <th>
                                        {#<input class="btn btn-primary btn-block buttonQueryName" type="button"  >#}
                                        <a class="btn btn-primary btn-block buttonQueryName"href="{{ path('crm_reload_request', { 'query_id': data['id'] })  }}">{{ data['queryName'] }}</a>
                                    </th>
                                    {#, { 'id': query_id }#}
                                    {% for current_date in date_array %}
                                        <td>{{ data[current_date] }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            <td class="lineBreak">&nbsp;</td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {#</div><!-- end of displaying the graph average -->#}
    </div>
{% endblock %}